
@import "reset",
"vars";

html {
  font-family: $text-font;
  color: $text-color;
  background-color: $bg-color;
  word-break: break-word;
}

@import "fonts",
"typography",
"classes",
"layout",
"header",
"scrollbar",
"table",
"code"
;