html,
body {
  width: 100%;
  max-width: 100vw;
  scroll-behavior: smooth;
}

body {
  >main {
    min-height: calc(100vh - 99px);
    overflow-wrap: break-word;
    word-break: break-word;
    // margin-top: 2rem;
    // margin-bottom: 2rem;
    // margin: 0 2rem;
    padding: 5em;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    // @media all and (max-width: 68rem) {
    //   width: 100%;
    // }
    // width: 95%;
    text-align: initial;

    >article {
      max-width: 100%
    }
  }
}


@media (max-width: 1000px) {
  body>main {
    padding: 5em 3.5em;
  }
}

@media (max-width: 700px) {
  body>main {
    padding: 5em 2em;
  }
}